<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="90c9c3">  <td>19/10/02 15:42:29</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test41PassWordReset.CloseChrome()[pri:0, instance:test.Test41PassWordReset@3e6fa38a]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="90c9c3">  <td>19/10/02 15:39:30</td>   <td>-179019</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test41PassWordReset.IngresoAmbiente()[pri:0, instance:test.Test41PassWordReset@3e6fa38a]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="90c9c3">  <td>19/10/02 15:42:26</td>   <td>-2786</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test41PassWordReset.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test41PassWordReset@3e6fa38a]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="90c9c3">  <td>19/10/02 15:39:52</td>   <td>-157314</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test41PassWordReset.PassReset()[pri:0, instance:test.Test41PassWordReset@3e6fa38a]">PassReset</td> 
  <td>main@1458540918</td>   <td></td> </tr>
</table>
